@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/Produto/produto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap" rel="stylesheet">


</head>
<body>


    <h1>Cadastrar <span id="destaque-titulo">Produto</span></h1>

    <form method="post" asp-action="">

        
        <div id="box-inputs-nome-preco">
            <div id="box-input-produto">
                <label for="produto">Nome do Produto: </label>
                <input class="inputs" type="text" id="produto" required>
            </div>

            <div id="box-input-preco">
                <label for="preco">Preço: </label>
                <input class="inputs" type="number" id="preco" required>
            </div>
        </div>


        <div id="box-select">
            <label for="categoria">Categoria: </label>
            <select id="select-categoria" name="categoria">
                <option value="opcao1">Opção 1</option>
                <option value="opcao2">Opção 2</option>
            </select>
        </div>

        <button type="submit" id="button-confirmar">Confirmar</button>
    </form>

        <div id="box-crud-produto">
            <div id="box-button-status">

                <form method="get" asp-action="Index">
                    <button class="button-padrao">Todos</button>

                </form>

                <form method="get" asp-action="BuscarAtivas">
                    <button class="button-padrao">Ativos</button>

                </form>

                <form method="get" asp-action="BuscarInativas">
                    <button class="button-padrao">Inativos</button>
                </form>
           </div>


        <table class="tabela">

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody>
                 <tr>
                     <td id="nome">1</td>
                     <td id="nome">Nome</td>
                     <td id="preco">5.00</td>
                     <td id="categoria">Comida</td>
                     <td id="status">Ativo</td>
                     <td><button onclick="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="button-padrao">Alterar</button></td>
                 </tr>
            </tbody>

        </table>
        </div>


        


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alterar categoria: <span id="titulo-id"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-action="AtualizarCategoria">
                    <div class="modal-body">
                        

                        <input type="hidden"  id="inputId"/>
                        <input id="inputNome" required/>
                        <select id="inputStatus" required>

                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                        
                    
                        </select>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


                    
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alterar categoria: <span id="titulo-id"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-action="AtualizarCategoria">
                    <div class="modal-body">


                        <input type="hidden"  id="inputId" />
                        <input  id="inputNome" required />
                        <select  id="inputStatus" required>

                            <option value="true">Ativo</option>
                            <option value="false">Inativo</option>


                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>



                        <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
