* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    background-color: #FCC236;
}


.estrutura-login {
    display: flex;
    gap: 60px;
}

.dados {
    padding-top: 10%;
    text-align: center;
}

.img {
    height: 70%;
    width: auto;
    object-fit: cover;
}


.titulo {
    font-family: 'Inter', sans-serif;
    color: #232322;
    font-size: 50px;
    font-weight: 700;
}


.subtitulo {
    font-family: 'Inter', sans-serif;
    color: #232322;
    font-weight: 200;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
}



.butoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10%;
}

a {
    
    padding: 15px;
    width: 140px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-weight: 300;
    text-align: center;
}

    a:active {
        background-color: #171605;
        color: #ffff;
    }


.btn-garcom {
    background-color: #FFEE82;
    color:#000000;
}


.btn-cozinheiro {
    background-color: #3F3F3F;
    color: #ffff;
}

@media screen and (max-width: 1024px) {


    .estrutura-login {
        display: flex;
        gap: 0px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .img {
        display: none;
    }


    .dados {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
}
